.EmployeesList > table {
	background-color: lightblue;
    display:flexbox;
    
}

.EmployeesList > table > tr > td {
	border: 1px solid black;
}

.TableTitlesRow {
    background-color: aqua;
    
}